@import "../../global.scss";

.trending {
    
    .container {
        display: flex;
        flex-direction: column;
        .title {
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 32px;
            line-height: 34px;
            /* identical to box height, or 106% */
// height: 10vh;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 1px;
            margin-bottom: 32px;
            /* Grayscale / Body */

            color: #4e4b66;
        }

        .all-cards{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            height: 50vh;
            
        }
       
    }
}
