.cards {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 9px;
  /* position: static; */
  width: 379px;
  height: 118px;
  /* left: 0px; */
  /* top: 0px; */
  background: #ffffff;
  -webkit-box-shadow: 0px 32px 64px #111115;
          box-shadow: 0px 32px 64px #111115;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 8px;
}

.cards .sub-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
}

.cards .sub-title .num {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 1px;
  color: #6e7191;
  background-color: inherit;
  margin-right: 10px;
}

.cards .sub-title .card-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.75px;
  color: #4e4b66;
  background-color: inherit;
}

.cards .stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 36px;
  width: 123px;
  height: 24px;
  background-color: inherit;
  /* Inside auto layout */
  margin: 5px 0px;
}

.cards .stars > * {
  margin: 0 5px;
  font-size: 22px;
}

.cards .stars .fa-star {
  color: #ffd789;
  border-radius: 0.75px;
  background-color: inherit;
}

.cards .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: inherit;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.cards .name .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: inherit;
}

.cards .name .author span {
  background-color: inherit;
}

.cards .name .author span p {
  background-color: inherit;
}

.cards .name .author span img {
  padding-right: 5px;
  background-color: inherit;
}

.cards .name .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: inherit;
}
/*# sourceMappingURL=card.css.map */