.cards2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 11px;
  width: 680px;
  height: 195px;
  background: #ffffff;
  /* Drop Shadow Small */
  -webkit-box-shadow: 0px 8px 16px rgba(17, 17, 17, 0.06);
          box-shadow: 0px 8px 16px rgba(17, 17, 17, 0.06);
  /* Inside auto layout */
  margin: 9px 0px;
}

.cards2 .person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cards2 .person .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cards2 .subject-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 38px;
}

.cards2 .subject-title .subject-review {
  font-size: 16px;
}

.cards2 .stars {
  padding-top: 15px;
}

.cards2 .stars > * {
  margin: 0 5px;
  font-size: 22px;
}

.cards2 .stars .fa-star {
  color: #ffd789;
  border-radius: 0.75px;
  background-color: inherit;
}
/*# sourceMappingURL=card2.css.map */