.cards2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 11px;
    width: 680px;
    height: 195px;

    background: #ffffff;
    /* Drop Shadow Small */

    box-shadow: 0px 8px 16px rgba(17, 17, 17, 0.06);

    /* Inside auto layout */

    margin: 9px 0px;

    .person {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        .author {
            display: flex;
            align-items: center;

            justify-content: space-between;
        }  
    }
    .subject-title{
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 38px;
        .subject-review{
            font-size: 16px;
        }
    }

    .stars{
        padding-top: 15px;
        > * {
            margin: 0 5px;
            font-size: 22px;
        }
     .fa-star{
        color: #ffd789;
        border-radius: 0.75px;
        background-color: inherit;
     }
    }
}