.discover {
  width: 100%;
  background: #E5E5E5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.discover .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.discover .container > * {
  padding: 25px 0;
}

.discover .container .left {
  width: 55%;
}

.discover .container .left .rising {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.discover .container .left .rising .text {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 34px;
}

.discover .container .left .rising .view {
  color: #e8505b;
  font-size: 16px;
  line-height: 28px;
}

.discover .container .right {
  width: 45%;
  margin-left: 20px;
  height: 50vh;
}

.discover .container .right .heading {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 34px;
}

.discover .container .right .hashtags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.discover .container .right .hashtags div {
  margin-right: 5px;
  padding: 5px 10px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.3px solid #a6a6a6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
}

.discover .container .right .sub-title {
  padding: 20px 0;
}
/*# sourceMappingURL=discover.css.map */