.discover {
    width: 100%;
    background: #E5E5E5;
    display: flex;
    .container {
        display: flex;
        > * {
            padding: 25px 0;
        }
        .left {
            width: 55%;
            // background-color: red;
            

            .rising {
                display: flex;
                justify-content: space-between;
                .text {
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 32px;
                    line-height: 34px;
                }
                .view {
                    color: #e8505b;
                    font-size: 16px;
                    line-height: 28px;
                }
            }
        }
        .right {
            width: 45%;
            margin-left: 20px;
            // background-color: blue;
            height: 50vh;
            .heading {
                font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 34px;
            }

            .hashtags {
                display: flex;
                width: 70%;
                flex-wrap: wrap;
                div {
                    margin-right: 5px;
                    // border:1px solid #000;
                    padding: 5px 10px;
                    margin-top: 10px;

                    // border-radius: 5px;
                    display: flex;
                    align-items: center;

                    border: 0.3px solid #a6a6a6;
                    box-sizing: border-box;
                    border-radius: 8px;
                }
            }
            .sub-title{
                padding: 20px 0;
            }
            
        }
    }
}
