.rockpool {
    margin-bottom: 230px;
    .container {
        display: flex;
        .left {
            width: 60%;
            padding-top: 70px;
            .top {
                display: flex;
                justify-content: space-between;
                flex-direction: column;

                .top-part {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    margin-bottom: 30px;
                    .title {
                        .sub-title {
                            color: #4e4b66;
                            font-family: Poppins;
                            display: flex;
                            align-items: center;
                            text-align: center;
                            letter-spacing: 1px;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 48px;
                            line-height: 50px;
                        }
                    }
                    .rating {
                        .stars {
                            padding-top: 15px;
                            > * {
                                margin: 0 5px;
                                font-size: 22px;
                            }
                            .fa-star {
                                color: #ffd789;
                                border-radius: 0.75px;
                                background-color: inherit;
                            }
                        }
                    }
                }
                .contents {
                    width: 59%;
                    width: 565px;
                    height: 1122px;
                    left: 120px;
                    top: 301px;

                    /* Desktop / Text Medium */

                    font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 34px;
                    /* or 189% */

                    display: flex;
                    align-items: center;
                    letter-spacing: 0.75px;
                    flex-direction: column;
                    color: #000000;

                    :nth-child(2) {
                        padding: 15px 0;
                    }
                }
            }
        }

        .right {
            width: 45%;
            margin-left: 20px;
            margin-top: 80px;
           
            .heading {
                font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 34px;
                color: #4e4b66;
                // width: 379px;
            }
            .card-writer {
                // > * {
                //     width: 379px;
                // }
            }

            .hashtags {
                display: flex;
                width: 60%;
                flex-wrap: wrap;
                div {
                    margin-right: 5px;
                    // border:1px solid #000;
                    padding: 5px 10px;
                    margin-top: 10px;

                    // border-radius: 5px;
                    display: flex;
                    align-items: center;

                    border: 0.3px solid #a6a6a6;
                    box-sizing: border-box;
                    border-radius: 8px;
                }
            }
            .trending {
                // margin-right: 25px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                // width: 80%;
                margin-top: 10px;
                margin-right: 100px;
                .container {
                    display: flex;
                    flex-direction: column;
                    .title {
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 34px;
                        /* identical to box height, or 189% */

                        display: flex;
                        align-items: center;
                        text-align: center;
                        letter-spacing: 0.75px;

                        /* Grayscale / Body */

                        color: #4e4b66;

                        /* Inside auto layout */

                        flex: none;
                        order: 0;
                        flex-grow: 0;
                        margin: 10px 0px;
                    }

                    .all-cards {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        // height: 50vh;
                        > * {
                            margin: 8px 0;
                        }
                    }
                }
            }
        }
    }
}
