
.container{
    width:90%;
    margin: 0 auto;
}


.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
}
.nav-links {
   display: flex;
    align-items: center;
    // width: 23%;
    justify-content: space-around;

    :nth-child(3) {
        background-color: #4e4b66;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 120px;
        cursor: pointer;
        height: 40px;
        border-radius: 40px;
        font-weight: 600;
        line-height: 24px;
        font-size: 16px;
        > * {
            color: #eff0f7;
            text-decoration: none;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    :nth-child(1) {
        // width: 120px;
        border: none;
        background: none;
        // height: 40px;
        font-weight: 500;
        cursor: pointer;
        font-size: 16px;
        line-height: 24px;
        > * {
            color: black;
            text-decoration: none;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    :nth-child(2) {
        // width: 120px;
        border: none;
        background: none;
        // height: 40px;
        font-weight: 500;
        cursor: pointer;
        font-size: 16px;
        line-height: 24px;
        padding: 0px 40px;
        > * {
            color: black;
            text-decoration: none;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}


.input-container{

    background-color:#eff0f7 ;
    // border-radius: 16px;
    >*{
        
        padding-left: 15px;
        font-size: 20px;
        background-color: #eff0f7;
    }
    input{
        padding-left: 8px;
        
        position: static;
        background-color: #eff0f7;
        align-items: center;
        border: none;
        outline: none;
        font-size: 25px;
        line-height: 32px;
        color: inherit;

    }
    
}

