.banner {
  height: 100vh;
  background-color: #4e4b66;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner .container .text-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.banner .container .text-area .text-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 282px;
}

.banner .container .text-area .text-contents .title {
  /* Desktop / Display Large Bold */
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 50px;
  /* identical to box height, or 103% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 1px;
  /* Grayscale / Body */
  color: #fcfcfc;
}

.banner .container .text-area .text-contents .para {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 72px;
  line-height: 66px;
  /* identical to box height, or 69% */
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 1px;
  /* Grayscale / Body */
  color: #fcfcfc;
  margin: 53px 0px;
}

.banner .container .text-area .text-contents .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner .container .text-area .text-contents .buttons .hero-btn1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 32px;
  outline: none;
  border: none;
  width: 236px;
  height: 64px;
  /* Primary/Default */
  background: #e8505b;
  border-radius: 40px;
  /* Inside auto layout */
  cursor: pointer;
  color: #f7f5f5;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  margin: 0px 12px;
}

.banner .container .image-area {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner .container .image-area img {
  width: 517px;
}
/*# sourceMappingURL=banner.css.map */