.writers{
    display: flex;
    justify-content: space-between;
    // width: 502px;
    // height: 67px;
    padding: 10px 0;
    background: #FFFFFF;
    margin:15px 0;
/* Drop Shadow Small */
align-items: center;
box-shadow: 0px 8px 16px rgba(17, 17, 17, 0.06);
    .author{
        display: flex;
        align-items: center;
        padding-left: 8px;
    }
    .writer{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: 5px;
    }

    p{
        padding-right: 8px;

    }
}