.footer {
  height: 100vh;
}

.footer .container .connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  height: 134px;
  background-color: red;
  border-radius: 10px;
}

.footer .container .connect .text {
  padding-left: 50px;
  color: white;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}

.footer .container .connect .buttons {
  padding-right: 50px;
}

.footer .container .connect .buttons .sign-up {
  border: none;
  background: #ffffff;
  border-radius: 5px;
  width: 168.3px;
  height: 39.62px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin-right: 10px;
  color: #e04f4f;
}

.footer .container .connect .buttons .get-started {
  border: 2px solid white;
  background: transparent;
  border-radius: 5px;
  width: 168.3px;
  height: 39.62px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.footer .container .partners {
  margin-top: 35px;
}

.footer .container .partners .partner-name {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
  /* identical to box height, or 158% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.75px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #1f1f1f;
}

.footer .container .partners .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 35px;
  margin-bottom: 65px;
}

.footer .footer-main {
  background: #f7f7fc;
  height: 348px;
}

.footer .footer-main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-main .container .logo {
  font-family: Poppins;
  width: 20%;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 66px;
  /* identical to box height, or 103% */
  letter-spacing: 1px;
  /* Primary/Default */
  color: #e8505b;
}

.footer .footer-main .container .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
}

.footer .footer-main .container .footer-links .navigations .para {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  /* Grayscale / Body */
  color: #4e4b66;
}

.footer .footer-main .container .footer-links .navigations .navigation-links > * {
  margin: 25px 0;
}

.footer .footer-main .container .footer-links .catagories .para {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  /* Grayscale / Body */
  color: #4e4b66;
}

.footer .footer-main .container .footer-links .catagories .catagories-link > * {
  margin: 25px 0;
}

.footer .footer-main .container .footer-links .help .para {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  /* Grayscale / Body */
  color: #4e4b66;
}

.footer .footer-main .container .footer-links .help .help-link > * {
  margin: 25px 0;
}

.footer .footer-main .container .footer-links .contact .para {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  /* Grayscale / Body */
  color: #4e4b66;
}

.footer .footer-main .container .footer-links .contact .contact-link > * {
  margin: 25px 0;
}
/*# sourceMappingURL=footer.css.map */