.footer {
    
    .container {
        padding-top: 20px;
        .connect {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 30px;
            height: 134px;
            background-color: red;
            border-radius: 10px;

            .text {
                padding-left: 50px;
                color: white;
                font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 32px;
            }

            .buttons {
                padding-right: 50px;

                .sign-up {
                    border: none;
                    background: #ffffff;
                    border-radius: 5px;
                    width: 168.3px;
                    height: 39.62px;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 22px;
                    margin-right: 10px;
                    color: #e04f4f;
                    cursor: pointer;
                }
                .get-started {
                    border: 2px solid white;
                    background: transparent;
                    border-radius: 5px;
                    width: 168.3px;
                    height: 39.62px;
                    cursor: pointer;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 22px;

                    color: #ffffff;
                }
            }
        }
        .partners {
            margin-top: 35px;
            .partner-name {
                font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 38px;
                /* identical to box height, or 158% */

                display: flex;
                align-items: center;
                text-align: center;
                letter-spacing: 0.75px;
                justify-content: center;
                color: #1f1f1f;
            }
            .images {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 35px;
                margin-bottom: 65px;
            }
        }
    }

    .footer-main {
        background: #f7f7fc;
        padding-top: 20 px;

        height: 348px;
        .container {
            display: flex;
            .logo {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-family: Poppins;
                width: 20%;
                font-style: normal;
                font-weight: bold;
                font-size: 64px;
                line-height: 66px;
                /* identical to box height, or 103% */

                letter-spacing: 1px;

                /* Primary/Default */

                color: #e8505b;
            }
            .footer-links {
                display: flex;
                justify-content: space-between;
                width: 55%;

                .navigations {
                    .para {
                        font-family: Montserrat;
                        
                        font-style: normal;
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 22px;
                        /* identical to box height */

                        /* Grayscale / Body */

                        color: #4e4b66;
                    }
                    .navigation-links {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        > * {
                            margin: 12px 0;
                            cursor: pointer;
                        }
                    }
                }
                .catagories {
                    .para {
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 22px;
                        /* identical to box height */

                        /* Grayscale / Body */

                        color: #4e4b66;
                    }
                    .catagories-link {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        > * {
                            margin: 12px 0;
                            cursor: pointer;
                        }
                    }
                }

                .help {
                    .para {
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 22px;
                        /* identical to box height */

                        /* Grayscale / Body */

                        color: #4e4b66;
                    }
                    .help-link {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        > * {
                            margin: 12px 0;
                            cursor: pointer;
                        }
                    }
                }
            }
            .contact {
                width: 20%;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                .para {
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 22px;
                    /* identical to box height */

                    /* Grayscale / Body */

                    color: #4e4b66;
                }
                .contact-links {
                    display: flex;

                    .contact-link {
                        display: flex;
                        align-items: flex-end;
                        flex-direction: column;
                        > * {
                            margin-top: 20px;
                            font-size: 16px;
                            line-height: 20px;
                            // font-family: Montserrat;
                            // font-style: normal;
                            // font-weight: normal;\
                            
                        }
                    }
                    .contact-icons {
                        display: flex;
                        flex-direction: column;
                        > * {
                            color: #4e4b66;
                            cursor: pointer;
                            padding: 25px 0px 0px 10px;
                        }
                    }
                }
                .social-icons {
                    display: flex;
                    flex-direction: row;
                    > * {
                        cursor: pointer;
                        border: 2px solid black;
                        border-radius: 50%;
                        padding: 15px;
                        height: 30px;
                        width: 30px;
                        margin-right: 8px;
                        font-size: 50px;
                        margin-top: 65px;
                        color: #4e4b66;
                    }
                }
            }
        }
    }
    .company {
        background-color: #040404;
        color: #ffffff;
        .container {
            display: flex;
    align-items: center;
    justify-content: center;
            .name {
                
                font-size: 24px;
                
                height: 51px;
            }
        }
    }
}
