.register-page {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    ::before {
        position: absolute;
        content: "";
        top: -118px;
        background-color: red;
        right: -118px;
        height: 449px;
        width: 449px;
        border-radius: 50%;
        z-index: -1;
    }
    ::after {
        position: absolute;
        content: "";
        bottom: -130px;
        background-color: black;
        left: -115px;
        height: 315px;
        width: 315px;
        border-radius: 50%;
        z-index: -1;
    }
    .container {
        display: flex;
        .image-area {
            display: flex;
            justify-content: space-between;
            align-items: center;

            width: 50%;
        }
        h1 {
            font-size: 32px;
        }
        .bar {
            width: 47px;
            height: 9px;
            background: #e8505b;
            border-radius: 300px;
            margin-top: -15px;
        }

        .register-area {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            .user-register {
                background: #fcfcfc;
                width: 480px;
                height: 571px;
                border: 2px solid #e6e3e3;
                border-radius: 32px;
                .register-div {
                    padding: 30px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 85%;
                    .input-field{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        height: 225px;
                        // > * {
                        //     width: 407px;
                        //     height: 57px;
                        //     background-color: #eff0f7;
                        //     border-radius: 16px;
                        //     display: flex;
                        //     flex-direction: row;
                        //     justify-content: flex-start;
                        //     align-items: center;
                        //     padding-left: 20px;
                        // }

                    .Email,
                    .Password , .Name, .ConfirmPassword{
                        background-color: #eff0f7;
                        display: flex;
                        align-items: center;
                        position: static;
                        width: 407px;
                        height: 45px;
                        left: 0px;
                        top: 0px;
                        flex: none;
                        margin: 0rem 0rem;
                        border-radius: 16px;
                         *{
                            padding-left: 25px;
                            font-size: 25px;
                            background-color: #eff0f7;
                        }
                    }
                    input {
                        background: #eff0f7;
                        border: none;
                        outline: none;
                        padding: 8px;
                        border-radius: 16px;
                    }
                }
                    .Forget {
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 24px;
                        cursor: pointer;
                        /* identical to box height, or 171% */

                        display: flex;
                        align-items: center;
                        text-align: center;
                        justify-content: end;
                        margin-top: -7px;
                        letter-spacing: 0.75px;
                    }
                    .button {
                        width: 100%;
                        width: 407px;
                        height: 40px;
                        background: #e8505b;
                        border-radius: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .Signup-btn {
                            outline: none;
                            border: none;
                            background-color: inherit;
                            color: white;
                            cursor: pointer;
                            font-size: 14px;
                        }
                    }
                    .Create {
                        justify-content: center;
                        align-items: center;
                        display: flex;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
